<div class="max-w-5xl mx-auto px-4 py-6">

  <!-- HEADER -->
  <h1 class="text-2xl font-bold mb-6">
    Chemical Compounds
  </h1>

  <!-- LOADING -->
  <div *ngIf="loading" class="flex justify-center py-20">
    <span class="loading loading-spinner loading-lg"></span>
  </div>

  <!-- EMPTY STATE -->
  <div
    *ngIf="!loading && compounds.length === 0"
    class="text-center py-20 opacity-70"
  >
    No compounds found
  </div>

  <!-- CARD LIST -->
  <div class="max-w-5xl mx-auto p-6 space-y-4">

  <div
    *ngFor="let c of compounds"
    class="flex flex-row items-center gap-6
           bg-gray-100 p-4 rounded-lg shadow-md"
  >

    <!-- IMAGE -->
    <div
      class="w-24 h-24 bg-white rounded
             flex items-center justify-center
             overflow-hidden shrink-0 border"
    >
      <img
        [src]="c.image"
        [alt]="c.name"
        class="max-w-full max-h-full object-contain"
        height="100px"
        width="100px"
      />
    </div>

    <!-- CONTENT -->
    <div class="flex flex-col flex-1 gap-2">

      <!-- NAME -->
      <h2 class="text-lg font-semibold">
        {{ c.name }}
      </h2>

      <!-- ACTIONS -->
      <div class="flex flex-row gap-2">
        <a
          [routerLink]="['/compounds', c.id]"
          class="btn btn-soft btn-info btn-sm"
        >
          View
        </a>

        <a
          [routerLink]="['/edit', c.id]"
          class="btn btn-soft btn-warning btn-sm"
        >
          Edit
        </a>

        <button
          class="btn btn-soft btn-error btn-sm"
          (click)="openDelete(c)"
        >
          Delete
        </button>
      </div>

    </div>

  </div>

</div>


  <!-- PAGINATION -->
  <div
    *ngIf="!loading && totalPages > 1"
    class="flex justify-center gap-4 mt-8"
  >
    <button
      class="btn btn-outline btn-sm"
      (click)="prevPage()"
      [disabled]="page === 1"
    >
      Prev
    </button>

    <span class="text-sm self-center">
      Page {{ page }} of {{ totalPages }}
    </span>

    <button
      class="btn btn-outline btn-sm"
      (click)="nextPage()"
      [disabled]="page === totalPages"
    >
      Next
    </button>
  </div>

</div>

<!-- DELETE MODAL -->
<dialog class="modal" [open]="selectedCompound">
  <div class="modal-box">
    <h3 class="font-bold text-lg">
      Delete Compound
    </h3>

    <p class="py-4">
      Are you sure you want to delete
      <strong>{{ selectedCompound?.name }}</strong>?
    </p>

    <div class="modal-action">
      <button class="btn btn-outline" (click)="closeDelete()">
        Cancel
      </button>
      <button class="btn btn-error" (click)="confirmDelete()">
        Delete
      </button>
    </div>
  </div>
</dialog>
